DATABASE_URL="postgresql://neondb_owner:npg_f6ckVIgTx7KY@ep-summer-moon-ae16srun-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="FirHLchM1jmvw4MroI1HE+HHxAOBRfEbEdWFo1mApaQ="
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_API_KEY=your_google_api_key_here
AI_PROVIDER="gemini"
